.game-handler {
	display: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
#announcement {
	opacity: 0;
	height: 50px;
	width: 70%;
	position: absolute;
	color: white;
	font-size: 1.5rem;
	top: 20%;
	left: 18%;
	border: 2px solid black;
	border-radius: 10px;
	z-index: 2;
	/* transition: opacity ease-in-out; */
}
.player-grid-container,
.computer-grid-container {
	width: 450px;
	height: 80%;
}
.player-grid-container,
.computer-grid-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.computer-grid-container {
	opacity: 0;
}
.player-grid {
	width: 420px;
	height: 420px;
	border: 1px solid black;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

.computer-grid {
	width: 420px;
	height: 420px;
	border: 1px solid black;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	/* opacity: 0; */
}

.cell {
	border: 0.5px solid black;
	background-color: rgb(100, 179, 249);
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	/* cursor: url(./images/crosshair-bold-svgrepo-com.svg) 20 20, auto; */
}
.cell:hover {
	border: 1px solid red;
}
.cell.carrier {
	background-color: yellow;
}
.cell.battleship {
	background-color: rgb(255, 128, 0);
}
.cell.cruiser {
	background-color: rgb(166, 255, 0);
}
.cell.submarine {
	background-color: rgb(0, 255, 128);
}
.cell.destroyer {
	background-color: rgb(0, 251, 255);
}
.selected-ship {
	background-color: lightgrey;
}
