.game-handler {
	display: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
#announcement {
	color: white;
	font-size: 1.5rem;
	animation: typing 4s;
}
.announcement-wrapper {
	overflow: hidden;
	align-items: center;
	display: flex;
	opacity: 0;
	height: 50px;
	width: 70%;
	position: absolute;
	color: white;
	font-size: 1.33rem;
	top: 20%;
	left: 18%;
	border: 15px solid;
	border-image: url(./images/announce-border.png);
	border-image-slice: 23 8 25 8 fill;
	z-index: 2;
}
.announcement-wrapper p {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 10px;
}
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
.player-grid-container,
.computer-grid-container {
	width: 450px;
	height: 80%;
}
.player-grid-container,
.computer-grid-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.computer-grid-container {
	opacity: 0;
}
.player-grid {
	width: 420px;
	height: 420px;
	border: 1px solid black;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

.computer-grid {
	width: 420px;
	height: 420px;
	border: 1px solid black;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

.cell {
	border: 0.5px solid #757575;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./images/water.jpg);
	background-size: cover;
	cursor: url(./images/crosshair2.svg);
}
.cell:hover {
	border: 1px solid red;
}
.cell.carrier {
	background-image: url('./images/ship.png');
	background-size: cover;
}
.cell.battleship {
	background-image: url('./images/ship.png');
	background-size: cover;
}
.cell.cruiser {
	background-image: url('./images/ship.png');
	background-size: cover;
}
.cell.submarine {
	background-image: url('./images/ship.png');
	background-size: cover;
}
.cell.destroyer {
	background-image: url('./images/ship.png');
	background-size: cover;
}
.selected-ship {
	background-color: lightgrey;
}
.pop-up {
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	width: 40%;
	height: 40%;
	background: #44a07b;
	border-radius: 10px;
	background-image: url(./images/MainPanel03.png);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 30px rgb(0, 190, 165);
}
#pop-up-text {
	color: white;
	font-size: 4rem;
}
#play-again-button {
	font-size: 1.5rem;
	background-color: #00b2a6;
	border: none;
	border-radius: 10px;
	transition: background-color 0.3s ease-in-out;
}
#play-again-button:hover {
	background-color: #00fba4;
}
#play-again-button:active {
	background-image: linear-gradient(to bottom, white, white);
	box-shadow: 0px 0px 30px #00fba4;
}
